name: Build and Release App Bundle
on:
  push:
    tags:
      - v*
jobs:
  build:
    if: ${github.event.base_ref} == 'refs/heads/main'
    name: Build App Bundle
    runs-on: ubuntu-latest
    steps:
      - name: Echo String
        run: echo Teste
      - name: Echo 1
        run: echo ${{github.event.base_ref}}
      - name: Echo 2
        run: echo ${github.event.base_ref}
      - name: Echo 3
        run: echo ${{ github.event.ref }} ${{ github.ref }}
      - name: Echo 4
        run: echo ${ github.event.ref } ${ github.ref }
#      - name: Echo 5
#        run: echo ${GITHUB_REF#refs/tags/} ${{GITHUB_REF#refs/tags/}}
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: stable
      - run: flutter pub get
#      - run: flutter pub run build_runner build --delete-conflicting-outputs
      - run: flutter test
      - run: flutter build appbundle
      - name: Create a Release App Bundle
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/bundle/release/app-release.aab"
          token: ${{ secrets.TOKEN }}
          name: Flutter CI/CD ${{GITHUB_REF#refs/tags/}}